<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="/components/experience/experience.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <link href="styles.css" rel="stylesheet">
        <title>Experiencia</title>
    </head>
<body>
    <header >
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand">Portafolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/components/index/index.html">Sobre mi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/skills/skills.html">Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/components/experience/experience.html">Experiencia</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/contact/contact.html">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>          
      </header>

      <div class="cards">
        <h1 style="text-align: center; margin-bottom: 30px;">Mis proyectos</h1>
        <div class="cards-project row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3"> <!-- Cambiado a 'col-lg-3' -->
                <div class="card" style="padding: 10px;">
                    <img src="/assets/tiedita.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">E-Commerce</h5>
                        <p class="card-text">E-commerce realizado en .Net C# y SqlServer multiplataforma basado en proyectos de la comunidad.</p>
                        <a href="#" class="btn btn-primary">Ver Proyecto...</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="padding: 10px;">
                    <img src="/assets/save-the-planet.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GoRecycle</h5>
                        <p class="card-text">Proyecto realizado en Flutter y Firebase multiplataforma para apoyar a la protección del medio ambiente.</p>
                        <a href="#" class="btn btn-primary">Ver Proyecto...</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="padding: 10px;">
                    <img src="/assets/school.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sistema de Asistencia</h5>
                        <p class="card-text">Sistema realizado con Java FX y MySQL para la escuela Montessori en Managua con credencial y app móvil.</p>
                        <a href="#" class="btn btn-primary">Ver Proyecto...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="footer">
    <div>
      <h5>Mis Redes Sociales</h5>
      <div class="redes-sociales">
        <div id="facebook">
          <img src="/assets/facebook.png" alt="Error al cargar la imagen">
          <h6>Steven Alvarez</h6>
        </div>
        <div id="instagram">
          <img src="/assets/instagram.png" alt="Error al cargar la imagen">
          <h6>Steven Alvarez</h6>
        </div>
        <div id="whatsapp">
          <img src="/assets/whatsapp.png" alt="Error al cargar la imagen">
          <h6>+505 8547-1336</h6>
        </div>
      </div>
      <p>© Todos los derechos reservados</p>
    </div>
  </footer>

  <script src="/components/index/index.js"></script>
</html>